Pipelines/pipeline_master.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"FabricDataPipelines V.Pothireddy001":{"type":"string"},"MicrosoftOutlook V.Pothireddy001":{"type":"string"}},"variables":{},"resources":[{"name":"pipeline_master","type":"pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"invoke_bronze","type":"InvokePipeline","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"7dd8c1be-b1b4-4215-b87a-e3d8f71e371c","workspaceId":"5916e81d-4fe6-46be-b555-e6a5a7eeac22","parameters":{}},"externalReferences":{"connection":"[parameters('FabricDataPipelines V.Pothireddy001')]"}},{"name":"invoke_silver","type":"InvokePipeline","dependsOn":[{"activity":"invoke_bronze","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"9429976b-b1d1-43ce-87a2-88a5180adc75","workspaceId":"5916e81d-4fe6-46be-b555-e6a5a7eeac22","parameters":{}},"externalReferences":{"connection":"[parameters('FabricDataPipelines V.Pothireddy001')]"}},{"name":"invoke_gold","type":"InvokePipeline","dependsOn":[{"activity":"invoke_silver","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"waitOnCompletion":true,"operationType":"InvokeFabricPipeline","pipelineId":"91984da2-aeb5-429e-87b9-c580ba210080","workspaceId":"5916e81d-4fe6-46be-b555-e6a5a7eeac22","parameters":{}},"externalReferences":{"connection":"[parameters('FabricDataPipelines V.Pothireddy001')]"}},{"name":"notify_bronze_failed","type":"Office365Email","dependsOn":[{"activity":"invoke_bronze","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"to":"V.Pothireddy001@umb.edu","subject":"[FAIL] Bronze ingestion failed - @{pipeline().RunId}","body":"<p><strong>Bronze layer ingestion failed at @{utcNow()}.</strong></p>\n<p><br></p>\n<p><strong>Pipeline run ID:</strong> @{pipeline().RunId}</p>\n<p><strong>Failed activity: </strong>invoke_bronze</p>\n<p><strong>Error:</strong> @{activity('invoke_bronze').error.message}</p>\n<p><br></p>\n<p><em>Silver and gold did not run. Data is stale from the last successful run.</em></p>\n<p><br></p>\n<p><u>Check the Monitor hub for full run details.</u></p>"},"externalReferences":{"connection":"[parameters('MicrosoftOutlook V.Pothireddy001')]"}},{"name":"notify_silver_failed","description":"","type":"Office365Email","dependsOn":[{"activity":"invoke_silver","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"to":"V.Pothireddy001@umb.edu","subject":"[FAIL] Silver transformation failed - @{pipeline().RunId}","body":"<p><strong>Silver layer transformation failed at @{utcNow()}.</strong></p>\n<p><br></p>\n<p><strong>Pipeline run ID:</strong> @{pipeline().RunId}</p>\n<p><strong>Failed activity:</strong> invoke_silver</p>\n<p><strong>Error:</strong> @{activity('invoke_silver').error.message}</p>\n<p><br></p>\n<p><em>Bronze completed successfully but silver did not. Gold did not run.</em></p>\n<p><em>Bronze data is fresh; silver and gold are stale from last successful run.</em></p>\n<p><br></p>\n<p><u>Check the Monitor hub for full run details.</u></p>"},"externalReferences":{"connection":"[parameters('MicrosoftOutlook V.Pothireddy001')]"}},{"name":"notify_gold_failed","type":"Office365Email","dependsOn":[{"activity":"invoke_gold","dependencyConditions":["Failed"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"to":"V.Pothireddy001@umb.edu","subject":"[FAIL] Gold load failed - @{pipeline().RunId}","body":"<p><strong>Gold layer load failed at @{utcNow()}.</strong></p>\n<p><br></p>\n<p><strong>Pipeline run ID:</strong> @{pipeline().RunId}</p>\n<p><strong>Failed activity:</strong> invoke_gold</p>\n<p><strong>Error: </strong>@{activity('invoke_gold').error.message}</p>\n<p><br></p>\n<p><em>Bronze and silver completed successfully. Gold did not load.</em></p>\n<p><em>Lakehouse data is fresh; warehouse facts and dims are stale from last successful run.</em></p>\n<p><br></p>\n<p><u>Check the Monitor hub for full run details.</u></p>"},"externalReferences":{"connection":"[parameters('MicrosoftOutlook V.Pothireddy001')]"}},{"name":"notify_all_success","type":"Office365Email","dependsOn":[{"activity":"invoke_gold","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"typeProperties":{"to":"V.Pothireddy001@umb.edu","subject":"[OK] Citadel MGA pipeline completed - @{pipeline().RunId}","body":"<p><strong>All layers loaded successfully at @{utcNow()}.</strong></p>\n<p><br></p>\n<p><strong>Pipeline run ID: </strong>@{pipeline().RunId}</p>\n<p><br></p>\n<p><strong>Bronze: &nbsp;</strong>ingested (CSV + API)</p>\n<p><strong>Silver: &nbsp;</strong>transformed and validated</p>\n<p><strong>Gold: </strong>&nbsp;&nbsp;&nbsp;dims and facts refreshed</p>\n<p><br></p>\n<p><em>Data is fresh end-to-end. Power BI reports ready for the day.</em></p>\n<p><br></p>\n<figure><img src=\"https://www.google.com/imgres?q=cats%20thumbs%20up&amp;imgurl=https%3A%2F%2Fpreview.redd.it%2Fsad-thumbs-up-v0-tsj8l8ahuw431.jpg%3Fauto%3Dwebp%26s%3D7717f7dd3367ad8fbcc54a583f4ba03a03476034&amp;imgrefurl=https%3A%2F%2Fwww.reddit.com%2Fr%2Fsadcats%2Fcomments%2Fc1mxe6%2Fsad_thumbs_up%2F&amp;docid=NPVk8y96KWxXEM&amp;tbnid=NyvBs6HZjZjb2M&amp;vet=12ahUKEwjK1-Xn5_2UAxX6nokEHZdNASQQnPAOegQIJRAB..i&amp;w=312&amp;h=296&amp;hcb=2&amp;ved=2ahUKEwjK1-Xn5_2UAxX6nokEHZdNASQQnPAOegQIJRAB\" height=\"auto\" width=\"auto\"/></figure>\n<p><br></p>"},"externalReferences":{"connection":"[parameters('MicrosoftOutlook V.Pothireddy001')]"}}],"lastModifiedByObjectId":"f2a4dba0-c659-4068-acbe-c4f962bced89","lastPublishTime":"2026-06-10T21:52:47Z"},"dependsOn":[]}]}